<div class="prod row">
	<div class="row col-9" >
		<img src="{{producto.fotoProducto}}" class="fotoProd col-3" alt="imagen de un producto">
		<h3 class=" col-1 paquetes">{{producto.paquetes}}</h3>
		<div class="col-4">
			<h3 class="title">{{producto.nombreProducto}}</h3>
			<h3 class="title">{{caducidad}}</h3>
		</div>
		<p class="col-3">{{producto.cantidad[0]+ " "+producto.cantidad[1]}}</p>
	</div>
	<div class="col-3 row actions">
		<img class="col-1" src="/assets/icons/add.png" class="icon edit" alt="icono de sumar" (click)="sumarPaquete()"
			(click)="$event.stopPropagation()">
		<img class="col-1" src="/assets/icons/remove.png" class="icon edit" alt="icono de restar" (click)="restarPaquete()"
			(click)="$event.stopPropagation()">
		<div class="contenedor col-1" alt="papelera vacía que se llena" (click)="open(content)" (click)="$event.stopPropagation()">
			<img class="icon img-bot" src="/assets/icons/garbage.png" alt="icono de papelera">
			<img class="icon img-top" src="/assets/icons/garbageFull.png" alt="icono de papelera llena">
		</div>
	</div>
</div>

<!--Modal de confirmación de borrado-->
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Borrar {{producto.nombreProducto}}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<p>Esta acción no se puede deshacer, se borrará el producto por completo del cajón</p>
				<p>¿Desea continuar?</p>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="modal.dismiss()">Cancelar</button>
		<button type="button" class="btn btn-success" (click)="modal.close('borrar')">Borrar</button>
	</div>
</ng-template>