<div class="prod">
    
    <img src="/assets/images/productos/lechuga.jpg" class="fotoProd" alt="image" >
    <p>x3</p>
    <div>
        <input type="text" class="title" value="{{producto.nombreProducto}}">
        <input type="text" class="title" value="01/01/2024">
    </div>
    <p>0,5 kg</p>    
    <img src="/assets/icons/add.png" class="icon" alt="image" (click)="editar()" (click)="$event.stopPropagation()">
    <img src="/assets/icons/remove.png" class="icon" alt="image" (click)="editar()" (click)="$event.stopPropagation()">
    <img src="/assets/icons/edit.png" class="icon" alt="image" (click)="editar()" (click)="$event.stopPropagation()">
    <img src="/assets/icons/garbage.png" class="icon" alt="image" (click)="borrar()" (click)="$event.stopPropagation()">

</div>
