@import '../../../scss/mixin';

.prod {
  @include flex(row, center, space-evenly);

  height: 100%;
  width: 96%;
  margin-bottom: 2rem;
  margin-right: 2vw !important;

  .row {
    margin: 0;
    padding: 0;

    @include flex();
  }

  .col-4,
  .col-3 {
    text-align: center;
  }


  .fotoProd {
    height: 100%;
  }

  .icon {
    width: 4vw;
  }

  .edit:hover {
    @include colorIcono();
  }

  /*Css para el cambio de imagen en hover*/
  @extend %cambio-imagen-hover;

  .contenedor {
    .img-top {
      //arreglo respecto a la colocación de bootstrap
      left: 12px;
    }
  }
}

/*-------MEDIA QUERYS----------*/
@media screen and (max-width: get-punto-ruptura(xl)) {}

@media screen and (max-width: get-punto-ruptura(l)) {
  .prod {
    width: 98%;
    .icon {
      width: 3rem !important;
    }
  }

  .contenedor .icon {
    width: 4vw !important;
  }
}

@media screen and (max-width: get-punto-ruptura(m)) {
  h3 {
    font-size: get-font(s) !important;
  }

  .prod {
    @include flex(column);
    margin-left: .25rem;

    .row {
      width: 100%;
    }

    .icon{        
      width: 4rem !important;
    }

    border: 1px solid black;
  }
}