@import '../../scss/mixin';

.nevera {
    @include flex(row, flex-start, space-around);

    margin-top: 3vh;

    .neveraInfo {
        @include flex(column, flex-start, flex-start);

        width: 40vw;
        height: 90vh;

        h1 {
            position: fixed;
        }

        img {
            width: 40vw;
            position: fixed;
        }
    }

    .cajones {
        @include flex();

        width: 50vw;

        app-cajon-item{
            width: 20vw;

            margin-left: 5vw;
            margin-top: 5vh;
        }

        .cajon {
            

            
            img {
                width: 100%;
                position: relative;
                left: 0;
                top: 0;
            }

            h2 {
                z-index: 9;
                position: relative;
                height: 100%;
            }
        }
    }
}