@import '../../scss/mixin';

.nevera {
    @include flex(row, flex-start, space-around);

    margin-top: 3vh;

    .neveraInfo {
        @include flex(column, flex-start, flex-start);

        width: 40vw;
        height: 90vh;

        h1 {
            position: fixed;
        }

        img {
            width: 40vw;
            position: fixed;
        }
    }

    .cajones {
        @include flex();

        width: 50vw;

        app-cajon-item, app-cajon-item-add{
            width: 20vw;

            margin-left: 5vw;
            margin-top: 5vh;
        }

    }
}