@import '../../../scss/mixin';


.nevera-item {
  width: 48vw;
  height: 40vh;
  margin-bottom: 3vh;

  background-image: url("./../../../assets/images/congeladorPeque.png");
  background-size: cover;
  background-size: 100% 100%;

  @include flex(row, center, space-around);

  .imagenNevera {
    max-width: 20vw;
    min-width: 10vw;
    max-height: 30vh;
    min-height: 25vh;
  }

  /*Datos*/
  .info {
    width: 25vw;

    @include flex(column);


    /*Nombre*/
    .nombre {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      font-family: $titulo2;
      font-weight: bold;
      font-size: get-font(l);

      text-align: center;
      overflow: hidden;
      white-space: nowrap;

      height: 4rem;

      /*Input*/
      .title-input {
        grid-area: 1 / 1 / 2 / 2;
        @extend %input-hide;

        width: fit-content;
        overflow: hidden;
        height: inherit;

        display: inline-block;
        position: relative;
        animation: 5s linear 0s infinite alternate move;
      }
    }

    /*Editar y borrar*/
    .actions {
      width: 100%;

      @include flex(row, center, space-around);

      .icon {
        margin-top: 3vh;
        width: 5vw;
      }

      /*Css para el cambio de imagen en hover*/
      @extend %cambio-imagen-hover;

      .contenedor {
        width: 5vw;
      }
    }
  }
}

/*Animación texto*/
@keyframes move {

  0%,
  25% {
    transform: translateX(0%);
    left: 0%;
  }

  75%,
  100% {
    transform: translateX(-150%);
    left: 100%;
  }
}

/*-------MEDIA QUERYS----------*/

@media screen and (max-width: get-punto-ruptura(xl)) {
  .nevera-item {
    .actions {
      margin-left: -15rem;

      .icon {
        width: 5rem !important;
      }
    }
  }
}

@media screen and (max-width: get-punto-ruptura(l)) {
  .nevera-item {
    width: 90vw;
    height: 50vh;

    .imagenNevera {
      max-width: 35vw;
      min-width: 20vw;
      max-height: 40vh;
      min-height: 25vh;
    }

    .info {
      width: 50vw;
    }
  }
}

@media screen and (max-width: get-punto-ruptura(m)) {
  .nevera-item {
    .actions {
      margin-left: -15rem;
    }
  }
}


@media screen and (max-width: get-punto-ruptura(s)) {
  .nevera-item {
    width: 90vw;
    height: 30vh;
    
    .actions{      
      margin-left: -2rem !important;
      
      .icon {
        width: 3rem !important;
      }  
    }

    
    .imagenNevera {
      max-width: 30vw;
      min-width: 10vw;
      max-height: 25vh;
      min-height: 15vh;
    }

    .info {
      width: 60vw;

      .nombre {
        font-size: get-font(s);
      }
    }
  }
}
