@import '../../../scss/mixin';

.cajon {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;

    img {
        grid-area: 1 / 1 / 6 / 7;
        width: 100%;
        left: 0;
        top: 0;
    }

    h2 {
        grid-area: 3 / 2 / 4 / 6; 
        z-index: 9;
        
        height: 100%;
        transform: rotate(15deg);
        margin-left: -4vw;

        font-family: $titulo2;
        font-weight: bold;
        font-size: get-font(l);
    }
}