<div class="produ">
    <img src="{{producto.fotoProducto}}" class="fotoProd" alt="image">
    <h2>{{producto.nombreProducto}}</h2>
    <input type="number" name="cantidad1" id="cantidad1"[(ngModel)]="cantidad" required min="0.1" step="0.1" appNumerosdecimales>
    <select name="select" [(ngModel)]="descCantidad">
        <option value="kilogramos" selected>Kilogramos</option>
        <option value="gramos">Gramos</option>
        <option value="raciones">Raciones</option>
        <option value="filetes">Filetes</option>
        <option value="piezas">Piezas</option>
    </select>
    <div class="cadu">
        <label for="caducidad">Caducidad</label>
        <div class="input-group cadu-picker">
            <input class="form-control" placeholder="dd/mm/yyyy" name="caducidad" [(ngModel)]="caducidad"
                ngbDatepicker #d="ngbDatepicker" required/>
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-calendar-week" viewBox="0 0 16 16">
                    <path
                        d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                    <path
                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                </svg>
            </button>
        </div>
    </div>
    <div class="paquetes">
        <label for="paquetes">Paquetes</label>
        <input type="number" name="paquetes" id="paquetes" [(ngModel)]="paquetes" value="1" required min="1"
            oninput="this.value =!!this.value && Math.abs(this.value) >= 1 ? Math.abs(this.value) : null">
    </div>
    <button type="submit" (click)="aniadir()">Añadir al cajón</button>
    <img src="/assets/icons/garbage.png" class="icon" alt="image" (click)="open(content)" (click)="$event.stopPropagation()" *ngIf="this.producto.idFamilia">
</div>



<!--Modal de confirmación de borrado-->
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Borrar {{producto.nombreProducto}}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<p>Esta acción no se puede deshacer, perderá todos los productos con estos datos</p>
                <p>¿Desea continuar?</p>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="modal.dismiss()">Cancelar</button>
		<button type="button" class="btn btn-success" (click)="modal.close('borrar')">Borrar</button>
	</div>
</ng-template>