@import '../../scss/mixin';


.cajon {
  @include flex(row, flex-start, space-around);

  margin-top: 3vh;

  .identif {
    @include flex(column, flex-start, flex-start);
    min-height: 90vh;

    /*Título*/
    h1 {
      text-transform: uppercase;
    }

    /*Texto añadir e imagen*/
    .caj {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(5, 1fr);

      justify-items: center;

      width: 25vw;
      margin-top: 5rem;


      /*Css para el cambio de imagen en hover*/
      @extend %cambio-imagen-hover;

      .contenedor {
        grid-area: 1 / 1 / 6 / 7;
        width: 100%;
        left: 0;
        top: 0;

        img {
          width: inherit;
        }
      }

      /*Txto de cajón*/
      h2 {
        grid-area: 3 / 2 / 4 / 6;

        height: 100%;
        z-index: 100;

        margin-left: -6vw;
        margin-top: 1vh;

        transform: rotate(15deg);
      }


    }

    /*Botones de editar y borrar*/
    .acciones {
      @include flex(row, center, space-evenly);

      margin-top: 3rem;

    }

  }

  .div2 {
    height: 80vh;
    margin-top: 6vh;
    
    overflow-x: hidden !important;

    .productos {
      min-height: 20vh;
      width: 50vw;
    }

    .ordenar {
      @include flex(row,baseline);

      select{ 
        width: fit-content;
        margin-left: 2rem;

        font-size: get-font(s);
      }
    }
  }
}