<div class="header">
  <div class="identificacion">    
    <img src="/assets/icons/logo1.png" class="logo" alt="image">      
    <h1>Frost Flow</h1>
  </div>
  <nav class="navbar">
    <ul>
      <li>
        <img src="/assets/icons/fridge.png" class="icon" alt="image">
      </li>
      <li>
        <img src="/assets/icons/family.png" class="icon" alt="image">
      </li>
      <li ngbDropdown class="d-inline-block">
        <button type="button" class="btn midropdown" id="dropdownBasic1" ngbDropdownToggle>
          <img src="/assets/icons/user.png" class="icon" alt="image">
          Nombre usuario
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="midropdown">
          <button ngbDropdownItem>Cerrar sesión</button>
        </div>
      </li>
    </ul>
  </nav>
</div>