.header{
    @include flex(row,center,space-between);

    width: 100%;
    height: 10rem;


    .identificacion{        
        @include flex();
    }

    .navbar ul{
        @include flex();

    }

    .icon{
        height: 2rem;
        width: 2rem;
    }

}