<div class="carousel">
    <img class="cesta ces-1" src="/assets/images/cestaCompra.png" alt="icono de cesta de la compra">
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="/assets/images/productos/lechuga.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/lomoCerdo.jpg" alt="productos de frigorífico" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/patatas.jpg" alt="productos de frigorífico" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/merluza.jpg" alt="productos de frigorífico" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/naranja.jpg" alt="productos de frigorífico" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/manzanaVerde.jpg" alt="productos de frigorífico" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/nuggets.jpg" alt="productos de frigorífico" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/lechuga.jpg" alt="productos de frigorífico" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/lomoCerdo.jpg" alt="productos de frigorífico" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/patatas.jpg" alt="productos de frigorífico" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/merluza.jpg" alt="productos de frigorífico" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/naranja.jpg" alt="productos de frigorífico" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/manzanaVerde.jpg" alt="productos de frigorífico" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/nuggets.jpg" alt="productos de frigorífico" />
            </div>
        </div>
    </div>
    <img class="cesta ces-2" src="/assets/images/cestaCompra.png" alt="icono de cesta de la compra">
</div>