<div class="carousel">
    <img class="nevera" src="/assets/images/neveraAlReves.png">
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="/assets/images/productos/lechuga.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/lomoCerdo.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/patatas.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/merluza.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/naranja.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/manzanaVerde.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/nuggets.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/lechuga.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/lomoCerdo.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/patatas.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/merluza.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/naranja.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/manzanaVerde.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/productos/nuggets.jpg" alt="" />
            </div>
        </div>
    </div>
    <img class="nevera" src="/assets/images/nevera_abierta.png">
</div>