@import '../../../scss/mixin';


$animationSpeed: 30s;


$tamanioImg: 10vw;
.carousel {
  @include flex();
  width: 90vw;

  .cesta {
    height: calc($tamanioImg + 2vw);
    width: 10vw;

    z-index: 3;
  }

  .ces-2 {
    transform: rotate(180deg);
  }
}

.slider {
  width: 70vw;

  margin: auto;
  overflow: hidden;
  //position: relative;

  img {
    height: $tamanioImg;
    width: $tamanioImg;

    border: 1px solid black;
    border-radius: 5rem;
  }

  &::before,
  &::after {
    content: "";

    height: calc($tamanioImg + 2vw);
    width: $tamanioImg;

    position: absolute;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(calc($tamanioImg + 5vw )* 14);
  }

  .slide {
    height: $tamanioImg;
    width: 90vh;
  }
}


// Animación
$velocidad: -10vw;
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc($velocidad * 7))
  }
}


@media screen and (max-width: get-punto-ruptura(m)) {
  .slider {

    // Animación
    $velocidad: -40vw;
  }
}

