<section class="familia">
    <h1>Familia</h1>
    <div class="fam">
        <div class="codigo">
            <img src="/assets/images/qr.png">
            <p>código id familia</p>
        </div>
        <div class="familiares">
            <div class="persona">
                <img src="/assets/icons/user.png">
                <h2>Pepe</h2>
            </div>
            <div class="persona">
                <img src="/assets/icons/user.png">
                <h2>Pepe</h2>
            </div>
            <div class="persona">
                <img src="/assets/icons/user.png">
                <h2>Pepe</h2>
            </div>

        </div>
    </div>
    <div class="cambio">
        <p>Cambiar de familia</p>
        <input type="text" />
        <button>Nueva familia</button>
    </div>
</section>