@import '../../scss/mixin';

.familia {
  @include flex(column, flex-start, flex-start);
ngx-qrcode{
    width: 700;
}

  h1 {
    margin-left: 2rem;
  }

  .fam {
    @include flex(row, center, space-evenly);
    width: 100%;

    //qr
    .codigo {
      @include flex(column);

      padding: 1rem;
      background-color: white;
      @extend %borde-round;

      img {
        width: 30vw;
      }
    }

    //Nombres familiares
    .familiares {
      margin-left: 10vw;
      @include flex(column, flex-start);

      .persona {
        @include flex();
        margin-bottom: 3vh;

        img {
          width: 5vw;
          margin-right: 1rem;
        }
      }

    }
  }

  //Formulario cambio familia
  .cambio {
    @include flex();
    width: 100%;
  }
}

/*-------MEDIA QUERYS----------*/
@media screen and (max-width: get-punto-ruptura(xl)) {
  .familiares {
    margin-top: 2rem;
  }
}

@media screen and (max-width: get-punto-ruptura(m)) {
  .familia {
    .familiares {
      h2 {
        font-size: get-font(s) !important;
      }
    }
  }
}


@media screen and (max-width: get-punto-ruptura(xs)) {
    .familiares, .cambio{
        margin-left: 2vw !important;

    }
}
