<section class="familia">
    <h1>Familia</h1>
    <div class="fam">
        <div class="codigo">
            <ngx-qrcode
              [elementType]="elementType"
              [errorCorrectionLevel]="correctionLevel"
              [value]="value"
              alt="Demo QR Code"
              cssClass="bshadow"
			   [width]=qr></ngx-qrcode>
            
            <p>{{fId}}</p>
        </div>
        <div class="familiares">
            <div class="persona" *ngFor="let usuario of usuarios">
                <img src="/assets/icons/user.png" lt="icono de usuario">
                <h2>{{usuario.nombre}}</h2>
            </div>
        </div>
    </div>
    <div class="cambio">
        <input type="text" [(ngModel)]="nuevaFamilia" placeholder="Código familia" required/>
        <button (click)="cambiarFamilia()">Cambiar a familia</button>
        <button (click)="open(content)">Independizarse a familia</button>
    </div>
</section>

<!--Modal de confirmación de creación de familia-->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-nueva">Independizarse</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <p>Se irá a una nueva familia donde esté solo, no tendrá acceso a las neveras y productos de la familia actual</p>
                <p>¿Desea continuar?</p>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="modal.dismiss()">Cancelar</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('independizarse')">Aceptar</button>
    </div>
</ng-template>


<!--Modal de confirmación de cambio de familia-->
<ng-template #modal_cambio let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal_cambio">Cambiar de familia</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<p>Cambiarás a la familia seleccionada, si no hay nadie más en la familia actual no podrá volver a ella.</p>
                <p>¿Desea mover sus neveras y productos a la nueva nevera? Si lo hace se borrarán de esta.</p>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-danger" (click)="modal.close('mover')">Mover mis neveras</button>
		<button type="button" class="btn btn-outline-danger" (click)="modal.close('no_mover')">No mover mis neveras</button>
		<button type="button" class="btn btn-outline-success" (click)="modal.dismiss()">Cancelar</button>
	</div>
</ng-template>

<!--Modal de aviso-->
<ng-template #modal_no_existe let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal_no_existe">Error</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<p>La familia introducida no existe.</p>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-success" (click)="modal.dismiss()">Aceptar</button>
	</div>
</ng-template>
