@import '../../scss/mixin';

section {
  display: grid;

  justify-items: center;
  align-items: center;

  margin: 1rem;

  img {
    height: 60vh;
    width: 30vw;
  }

  h1 {
    font-size: get-font(l);
    text-transform: uppercase;
    color: get-color(contrast_primary);
    text-shadow: textShadow(0.25, 6, get-color(transparency_primary));
  }
}

/*-------PRIMERA SECCIÓN----------*/
.gestiona {
  grid-template-columns: fit-content(10%) 1fr;

  .texto {
    grid-area: 1/2/2/3;
    @include flex();

    /*Animación de texto de gestionar*/
    .texto_gestiona {
      @include flex(column);
      margin-left: 1vw;

      span {
        position: relative;
        display: inline-block;

        animation: flip 3s infinite;
        animation-delay: calc(.5s * var(--i))
      }

      img {
        width: 5vw;
        height: 20vh;

        position: relative;
        display: inline-block;

        animation: flip 3s infinite;
        animation-delay: calc(.5s * var(--i))
      }

      .conge {
        width: 10vw;
      }
    }
  }


  //Animación de nevera abriéndose y cerrándose
  img {
    grid-area: 1/1/2/2;

    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
  }

}

/*-------SEGUNDA SECCIÓN----------*/
.personaliza {
  grid-template-columns: 1fr fit-content(50%);

  img {
    grid-area: 1/2/2/3;

    height: 60vh;
    width: 50vw;
  }

  h1 {
    grid-area: 1/1/2/2;
  }

  .texto_personaliza {
    @include flex();

    span {
      position: relative;
      animation: scatter 1.75s infinite;
    }

    .vacio {
      margin-left: 1vw;
    }

    span:nth-child(2n) {
      animation-delay: 0.3s;
    }

    span:nth-child(3n) {
      animation-delay: 0.15s;
    }

    span:nth-child(5n) {
      animation-delay: 0.4s;
    }

    span:nth-child(7n),
    span:nth-child(11n) {
      animation-delay: 0.25s;
    }
  }

}

/*-------TERCERA SECCIÓN----------*/
.productos {
  h1 {
    margin: 3rem;
  }
}

/*-------CUARTA SECCIÓN----------*/
.familia {
  grid-template-columns: 1fr fit-content(40%);

  img {
    grid-area: 1/2/2/3;
  }

  h1 {
    grid-area: 1/1/2/2;
  }
}


/*-------QUINTA SECCIÓN----------*/
.registrarse {
  @include flex();

  button {
    margin-left: 3vw;

    background-color: black;
    border-radius: round($number: 2rem);
    box-shadow: 0.7rem 0.7rem 0.7rem get-color(terciary);

    font-size: get-font(l);
    color: white;
  }

  button:hover {
    background-color: get-color(contrast_primary);
    box-shadow: 0.7rem 0.7rem 0.7rem get-color(secondary);
  }

}

/*-------ANIMACIONES----------*/

//Detalles de la primera animación
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  33% {
    opacity: 1;
  }

  53% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  33% {
    opacity: 1;
  }

  53% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#f2 {
  -webkit-animation-delay: -3s;
}

//Detalles de la segunda animación
@keyframes flip {

  0%,
  80% {
    transform: rotateY(360deg)
  }
}


//Detalles de la tercera animación
@keyframes scatter {
  0% {
    top: 0;
  }

  50% {
    top: -10px;
  }

  100% {
    top: 0;
  }
}


/*-------MEDIA QUERYS----------*/


@media screen and (max-width: get-punto-ruptura(xl)) {

  //1100
  .gestiona {
    img {
      width: 40vw;
      height: 50vh;
    }

    .texto {
      width: 55vw;
      margin-left: -4rem;
    }
  }
}

@media screen and (max-width: get-punto-ruptura(l)) {

  //GESTIONAR
  .gestiona {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(fit-content, 1fr) 1fr;
    justify-items: start;
    align-items: start;

    img {
      grid-area: 2/1/3/2;
      width: 80vw;
      height: 50vh;
      margin-left: 2rem;
    }

    .f1 {
      grid-area: 2 / 1 / 3 / 2;
    }

    .f2 {
      grid-area: 2 / 1 / 3 / 2;
    }

    .texto {
      grid-area: 1 / 1 / 2 / 2;
      margin-left: -3rem;
      width: fit-content;

      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 8px;

      .gest {
        grid-area: 1 / 1 / 2 / 3;
      }

      .tus {
        grid-area: 1 / 3 / 2 / 4;
      }

      .nev {
        grid-area: 1 / 4 / 2 / 6;
      }

      .y {
        grid-area: 2 / 2 / 3 / 3;
      }

      .cong {
        grid-area: 2 / 3 / 3 / 5;
      }
    }
  }

}


@media screen and (max-width: get-punto-ruptura(m)) {
  h1 {
    font-size: get-font(m) !important;
  }

  .gestiona {
    margin-bottom: 2rem;

    .texto {
      @include flex(column);

      margin-left: 0rem;
      width: 90vw;

      .texto_gestiona {
        img {
          display: none !important;
        }

      }
    }
  }
}



@media screen and (max-width: get-punto-ruptura(s)) {
  .personaliza {
    @include flex(column);

    img {
      height: 60vh;
      width: 80vw;
    }
  }

  .productos {
    margin-left: 0;
    margin-right: 0;
  }
}


@media screen and (max-width: get-punto-ruptura(xs)) {
  h1 {
    width: 20rem;
  }

  //PRODUCTOS CARRUSEL
  .productos {
    margin-left: -6rem;
  }

  .personaliza {
    margin-left: -6rem;
  }
}
