<section class="gestiona">
    <img id="f1" src="/assets/images/nevera_cerrada2.png">
    <img id="f2" src="/assets/images/nevera_abierta2.png">
    <h1 class="texto">
        <div class="texto_gestiona">
            <span style="--i:1">Gestiona </span>
            <img style="--i:1" src="/assets/images/neveraRoja.png">
        </div>
        <div class="texto_gestiona">
            <span style="--i:2">tus </span>
            <img style="--i:2" src="/assets/images/neveraOrange.png">
        </div>
        <div class="texto_gestiona">
            <span style="--i:3">neveras </span>
            <img style="--i:3" src="/assets/images/neveraGreen.png">
        </div>
        <div class="texto_gestiona">
            <span style="--i:4">y </span>
            <img style="--i:4" src="/assets/images/neveraPurple.png">
        </div>
        <div class="texto_gestiona">
            <span style="--i:5">congeladores </span>
            <img style="--i:5" class="conge" src="/assets/images/congelador.png">
        </div>
    </h1>
</section>

<section class="personaliza">
    <img id="f2 img" src="/assets/images/nevera_llena.png">
    <h1 class="texto_personaliza" aria-label="Personaliza los cajones">
        <span aria-hidden="true">P</span>
        <span aria-hidden="true">e</span>
        <span aria-hidden="true">r</span>
        <span aria-hidden="true">s</span>
        <span aria-hidden="true">o</span>
        <span aria-hidden="true">n</span>
        <span aria-hidden="true">a</span>
        <span aria-hidden="true">l</span>
        <span aria-hidden="true">i</span>
        <span aria-hidden="true">z</span>
        <span aria-hidden="true">a</span>
        <span aria-hidden="true" class="vacio"> </span>
        <span aria-hidden="true">l</span>
        <span aria-hidden="true">o</span>
        <span aria-hidden="true">s</span>
        <span aria-hidden="true" class="vacio"> </span>
        <span aria-hidden="true">c</span>
        <span aria-hidden="true">a</span>
        <span aria-hidden="true">j</span>
        <span aria-hidden="true">o</span>
        <span aria-hidden="true">n</span>
        <span aria-hidden="true">e</span>
        <span aria-hidden="true">s</span>
    </h1>


</section>


<section class="productos">
    <h1>Crea y añade productos</h1>
    <app-carousel></app-carousel>
</section>
<section class="familia">
    <img id="f1" src="/assets/images/neveraC.png">
    <h1>Hazlo junto a tu familia</h1>
</section>
<section class="registrarse">
    <h1>Empieza ya</h1>
    <button class="btn">Registrarse</button>
</section>