<section class="gestiona">
        <img id="f1" src="/assets/images/neveraA.png">
        <img id="f2" src="/assets/images/neveraC.png">
        <h1>Gestiona tus neveras y congeladores</h1>
</section>
<section class="personaliza">
    <img id="f2 img" src="/assets/images/neveraLlena.png">
    <h1>Personaliza los cajones</h1>
</section>
<section class="productos">
    <h1>Crea y añade productos</h1>
    <app-carousel></app-carousel>
</section>
<section class="familia">
    <img id="f1" src="/assets/images/neveraC.png">
    <h1>Hazlo junto a tu familia</h1>
</section>
<section class="registrarse">
    <h1>Empieza ya</h1>
    <button>Registrarse</button>
</section>