@import './mixin';

::before *,
::after * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.8;

}

:root {
  font-family: $garamond;
  color: get-color("black");

}

body {
  font-size: get-font("s");
  background-color: get-color("fondo");
  font-family: $garamond !important;

  background-image: url("./../assets/images/fondo.png");
  background-size: cover;
  background-attachment: fixed;
}


h1 {
  font-family: $titulo2;
  font-size: get-font(xl);
  color: black;
  text-shadow: -0.1rem -0.1rem 0rem white, .1rem .1rem 0rem white, textShadow(0.25, 6, get-color(secondary));
}

h2 {
  font-family: $titulo2;
  font-size: get-font(l);
  color: black;
  font-weight: bold;
}

h3 {
  font-family: $titulo2;
  font-size: get-font(m);
  color: black;
  font-weight: bold;
}

/*Diseño de los modales*/
.modal-title {
  font-size: get-font(l);
  font-family: $titulo2;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button{
  font-family: $garamond;
  font-weight: get-weight(semiBold);
}

button:not(.btn):not(.btn-close){
  margin: 1rem;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;

  @extend %borde-round;
  box-shadow: 0.7rem 0.7rem 0.7rem get-color(terciary);
  background-color: white;

  font-size: get-font(m);
  color: black;

  font-weight: 600;
}

button:hover:not(.btn):not(.btn-close) {
  box-shadow: 0.7rem 0.7rem 0.7rem get-color(secondary);
}

.modal-content, .header {
  button {
    box-shadow: none;
  }

  button:hover {
    box-shadow: none;
  }
}
