::before *,
::after * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.8;

}

:root {
    font-family: $garamond;
    color: get-color("black");

}

body {
    font-size: get-font("m");
    background-color: get-color("fondo");

    background-image:url("./../assets/images/fondo.png") ;
    background-size: cover;
    background-attachment: fixed;
}




h1 {
    font-family: $titulo2;
    font-size: get-font(xl);
    color: black;
    text-shadow: -0.1rem -0.1rem 0rem white, .1rem .1rem 0rem white,textShadow(0.25, 6, get-color(secondary));
}

/*
li p, h2,h1{
    
    font-family: 'Cinzel', serif;
}*/

a {
    text-decoration: none;
}

ul{    
  list-style-type: none;
}
