@import './variables';

///Mixin de media query
@mixin response($breakpoint) {
  @if($breakpoint==xl) {
    @media(max-widdth:1200px) {
      @content;
    }
  }

  @if($breakpoint==lg) {
    @media(max-widdth:992px) {
      @content;
    }
  }

  @if($breakpoint==md) {
    @media(max-widdth:768px) {
      @content;
    }
  }

  @if($breakpoint==sm) {
    @media(max-widdth:576px) {
      @content;
    }
  }
}

///Mixin de posicionamiento con flexbox
///@parameter {String} $direction [row] --valor para direction
///@parameter {String} $align [center] --valor para align
///@parameter {String} $justify [center] --valor para justify
///@example
///     .footer{
///         @include flex(row, center, space-around);
///     }
@mixin flex($direction: row, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: wrap;
}


///Mixin de borde negro normal
///@example
///     div{
///         @extend %borde
///     }
%borde {
  border: 5px solid get-color("black");
}

///Mixin de borde negro redondeado
///@example
///     div{
///         @extend %borde-round
///     }
%borde-round {
  border: 5px solid get-color("black");
  border-radius: 2rem;
}

///Mixin de borde redondeado con sombra
///@example
///     div{
///         @extend %borde-shadow
///     }
%borde-shadow {
  border: 1px solid get-color("primary");
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}

///Mixin para hacer ver los input como texto plano
///@example
///     input{
///         @extend %input-hide
///     }
%input-hide {
  text-align: center;
  border: none;

  background-color: get-color(transparente);
  color: black;
}

///Mixin de cambio de una imagen por otra al hacer hover
///@example
///     div{
///         @extend %cambio-imagen-hover;
///     }
%cambio-imagen-hover {
  .contenedor {
    position: relative;
    display: inline-block;

    .img-top {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
    }
  }

  .contenedor:hover .img-top {
    display: inline;
  }
}

///Mixin que da a un botón el estilo deseado
///@example
///     button{
///         @include boton();
///     }
@mixin boton {
  margin: 1rem;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;

  border: 5px solid get-color("black");
  border-radius: 2rem;
  box-shadow: 0.7rem 0.7rem 0.7rem get-color(terciary);
  background-color: white;

  font-size: get-font(m);
  color: black;

  font-weight: get-weight(bold);
}

///Mixin que da a un botón el estilo deseado al hacer hover
///@example
///     button:hover{
///         @include boton-hover();
///     }
@mixin boton-hover {
  box-shadow: 0.7rem 0.7rem 0.7rem get-color(secondary);
  }

///Mixin que cambia el color de una imagen al predeterminado
///@example
///     .img{
///         @include colorIcono();
///     }
@mixin colorIcono() {
  filter: invert(29%) sepia(68%) saturate(527%) hue-rotate(235deg) brightness(98%) contrast(83%);
  //https://isotropic.co/tool/hex-color-to-css-filter/
}

///Mixin que coloca un gradiente de color blanco
///@example
///     .img{
///         @include colorIcono();
///     }
@mixin white-gradient {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}
