////Proyecto: TFG DAW Gestión de congeladores
////@author Isabel Cobo Ruiz-Azuaga

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Cormorant+Garamond&family=Righteous&display=swap');


///mapa de colores 
///@group colores
$colores: (
    "primary":#6ab7fa,
    "secondary":#00BD9D,
    "terciary":#7B4B94,
    "contrast_primary":#000B64,
    "transparency_primary":#3e8ceca4,
    "transparente":rgba(255, 255, 255, 0),
    "secondary_transparente":#00bd9d78,
    "c":#E299A2,
    "fondo":#ffffff,
    "black":#000000,
    "elementos":#ffffff
    //52aeff
);

///Función que devuelve un color del vector colores
///@group colores
///@param {String} $color-name  --nombre color del vector colores
///@return {color} --color en hexadecimal
@function get-color ($color-name) {
    @return map-get($colores, $color-name);
}

///mapa de tamaños de fuentes
///@group tamanios
$fonts: (
    "xxl":4rem,
    "xl":3rem,
    "l":2.5rem,
    "m":2rem,
    "s":1.5rem,
    "xs":1rem
);

///Función que devuelve un tamaños del vector fuentes
///@group tamanios
///@param {String} $font-size  --nombre tamaño del vector fuentes
///@return {font} --tamaño en rem
@function get-font ($font-size) {
    @return map-get($fonts, $font-size);
}

///mapa de pesos de fuentes
///@group pesos
$font-weights: (
    "light": 300,
    "regular":400,
    "bold":700);

  
///Función que devuelve un peso del vector peso
///@group pesos
///@param {String} $font-weight  --nombre peso del vector pesos
///@return {font-weight} --peso
@function get-weight ($font-weight) {
    @return map-get($font-weights, $font-weight);
}  

///Función que devuelve la sombra para un texto
///@param {Number} $precision
///@param {Number} $size
///@param {String} $color
///@return {shadow} --sombra
@function textShadow($precision, $size, $color) {
    $value: null;
    $offset: 0;
    $length: $size * calc(1 / $precision) - 1;
  
    @for $i from 0 through $length {
      $offset: $offset + $precision;
      $shadow: $offset + px $offset + px $color;
      $value: append($value, $shadow, comma);
    }
  
    @return $value;
  }


///Fuente Cormorant Garamond
///@group tipografias
$garamond: 'Cormorant Garamond', serif;

///Fuente Lobster
///@group tipografias
$titulo: 'Lobster', cursive;

///Fuente Righteous
///@group tipografias
$titulo2: 'Righteous', cursive;
